/* Base Styles */

* {
    font-family: "Arapey";
}

body {
    padding: 0;
    margin: 0;
    background-color: #fbfbfb;
}

header {
    text-align: center;
    background-color: #26263d;
    color: #fbfbfb;
    margin: 0;
}

h1 {
    padding: 1em;
    margin-top: 0;
    font-size: 1.5em;
}

.banner {
    text-align: center;
}

.container {
    width: 100%;
    margin: auto;
}

.reg-text {
    color: darkslategray;
}

h2 {
    padding-bottom: 0;
    margin-bottom: 0;
}

h2, legend {
    color: #0f1d3c;
}

.banner > p {
    margin: 0.5em 5px 0;
    
}

legend, h2 {
    font-size: 1.3em;
    font-weight: bold;
}

body > hr {
    padding: 1.5px;
    border-top: 3px solid #26263d;
    border-bottom: 1px solid #26263d;
    border-right: none;
    border-left: none;
    margin: 2em 0.5em 1.5em;
}

legend {
    margin-bottom: 0.5em;
}

label {
    color: darkslategray;
}

.contact-info {
    background-color: #f6d9fc;
}

.contact-info, 
.newsletter {
    border: none;
}

.contact-info label, 
.contact-info input {
    display: block;
}

.contact-info label {
    margin: 0.5em 0;
}

.contact-info input, 
select, 
textarea {
    border: none; 
    width: 100%;
    border-radius: 5px;
    background-color: #ececec;
    margin-bottom: 1em;
    padding: 1em 0;
}

input::placeholder {
    text-align: right;
    font-style: italic;
    padding-right: 1em;
}

textarea::placeholder {
    text-align: center; 
    font-size: 0.8em;
}

input:focus, 
textarea:focus {
    background-color: #f1d9f7;
    border: 1px solid #0c424c;
    transition: background-color 0.5s;
}

input, 
textarea {
    transition: background-color 0.5s;
}

#zip_code {
    width: 50%;
}

form > hr {
    border: solid 1px #26263d;
    margin: 0.5em 0.5em 1.5em;
}

input[type="radio"], 
input[type="checkbox"] {
    margin: 0 10px 1.5em 0.5em;
}

textarea {
    height: 4em;
    margin-bottom: 0;
}

button {
    border: none;
    border-radius: 5px;
    background-color: #2ebeaa;
    color: #fbfbfb;
    text-align: center;
    display: block;
    margin: auto;
    padding: 1em 0 1em;
    width: 90%;
    font-size: 1.5em;
    margin-top: 1em;
}

p:last-child {
    text-align: center;
    margin-bottom: 3em;
    color: darkslategray;
}

/* Media Query for Tablet & Desktop */

@media (min-width: 768px) {

    body {
        margin: auto;
    }

    body > hr, 
    .container {
        width: 50%;
        margin: auto;
    }

    .contact-info > legend {
        padding-top: 2em;
    }

    .contact-info > div {
        display: flex;
        justify-content: space-between;
    }

    .contact-info > label {
        width: 3em;
    }

    .contact-info input, 
    select {
        width: 70%;
    }

    #zip_code {
        width: 25%;
        margin-right: 45%;
    }
}

button {
    width: 95%;
    padding: 0.5em 0 0.5em;
    margin-top: 0.5em;
}

